@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-sourcecode
  
}

.main {
  @apply bg-theme1;
  min-height: 100vh;
  padding: 2rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-old
}

/* p {
  @apply font-hind
} */

.button-default {
  @apply font-semibold text-center py-1 px-2 rounded-full transition ease-in-out duration-300
  border-b-4 border-r-4 border-transparent hover:bg-theme2 hover:border-b-black hover:border-r-black 
  hover:scale-110
}

@media (min-width: 768px) {
  .main {
    padding: 2rem 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
