@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  @apply font-sourcecode
  
}

.main {
  @apply bg-theme1;
  min-height: 100vh;
  padding: 2rem 2rem;
}

a {
  text-decoration: underline;
  @apply text-theme5
}

a:hover {
  text-decoration: underline;
  @apply text-theme4
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-old
}

.description li {
  list-style-type: circle;
  list-style-position: outside;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

@media (min-width: 768px) {
  .main {
    padding: 2rem 4rem;
  }
}

@media (min-width: 375) {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
}

